extends layout.pug

block content

  article.portfolio-intro


    h1 My Awesome Portfolio

    p This is my portfolio of some of the projects that I have created with the Treehouse Web Development Techdegree. This showcases what I have learned and the skills I've accuired, including HTML, CSS, Javascript, Node.js, and more.


  article.portfolio-project-thumbs
    .projects-box.box.grid

    //- Loops over the projects in data.json to display each projects image and the name of the project
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls.landing_page}`, alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name